
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


           <div class="single-project-content">
            <div class="col-md-6">
            <img src="images/fachada.jpg">
            <br><li><span><i class="fa fa-home"></i>Periférico Paseo de la República #601</span><span>Col. Los Manantiales.</span><span> Morelia, Michoacán</span></li><br>
			</div></div>
            
            <div class="col-md-6">
            
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2233.6346346147343!2d-101.2397702389391!3d19.690869201183872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1899fe2ab368acb4!2sHonda+Manantiales!5e0!3m2!1ses-419!2smx!4v1481136059622" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            
            
            </div></div>

					</div>
				</div>
			</div>

		</div><br>


		<!-- End content -->
		

</body>
</html>